# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# macOS specific file
.DS_Store

*.pth
*.doc
